flows (5).json
[{"id":"72bf0b72.0d21c4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"151a56db.813719","type":"watson-text-to-speech","z":"72bf0b72.0d21c4","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/wav","password":"","apikey":"o55gkvzM3dwwJIkMMZRpgR5zBZfWz82wyNUBczuaJ381","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/151be998-0241-4968-bf8f-46e2e4c80bb2","x":640,"y":140,"wires":[["b95406a1.884958"]]},{"id":"3c5b9301.f1a78c","type":"watson-speech-to-text","z":"72bf0b72.0d21c4","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"Light On, Chicken Biryani, Paneer Masala","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"esAZOlyaoBHSZ0d7N4PDyOPc3Mr-MGh8pb9ADdlL7DpE","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/7565890a-229d-4d27-9537-9b708eb201ae","x":320,"y":300,"wires":[["8733b54.8fdcd48","93e721c9.5df8b","6405e78f.e2cdf8"]]},{"id":"1332e928.62a7d7","type":"inject","z":"72bf0b72.0d21c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello all, how are you doing?","payloadType":"str","x":250,"y":80,"wires":[["151a56db.813719"]]},{"id":"7be2aa3e.40bbb4","type":"microphone","z":"72bf0b72.0d21c4","name":"","x":130,"y":320,"wires":[["3c5b9301.f1a78c"]]},{"id":"8733b54.8fdcd48","type":"debug","z":"72bf0b72.0d21c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":180,"wires":[]},{"id":"94a84491.abce88","type":"ui_microphone","z":"72bf0b72.0d21c4","name":"","group":"8d13242.91dd9d8","order":7,"width":10,"height":1,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":130,"y":240,"wires":[["3c5b9301.f1a78c"]]},{"id":"b95406a1.884958","type":"ui_audio","z":"72bf0b72.0d21c4","name":"","group":"8d13242.91dd9d8","voice":"","always":"","x":840,"y":140,"wires":[]},{"id":"93e721c9.5df8b","type":"watson-assistant-v2","z":"72bf0b72.0d21c4","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f72457b4-4cb0-4c4f-bc59-ec5f715ef065","assistant_id":"830ae362-0422-405a-8b70-d3d7e8cbb3e5","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"persist-session-id":false,"x":410,"y":380,"wires":[["f2e52e91.65cc1"]]},{"id":"ead86072.18b3f","type":"inject","z":"72bf0b72.0d21c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"What are the timings","payloadType":"str","x":210,"y":520,"wires":[["93e721c9.5df8b"]]},{"id":"cb4d5751.51a878","type":"debug","z":"72bf0b72.0d21c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"4009f52b.61abac","type":"function","z":"72bf0b72.0d21c4","name":"","func":"msg.params ={ }\nmsg.params.session_id = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":500,"wires":[[]]},{"id":"f2e52e91.65cc1","type":"function","z":"72bf0b72.0d21c4","name":"","func":"msg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":320,"wires":[["cb4d5751.51a878","151a56db.813719","8586a35c.b5433"]]},{"id":"a11b2d30.63607","type":"inject","z":"72bf0b72.0d21c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Weekend","payloadType":"str","x":220,"y":460,"wires":[["93e721c9.5df8b"]]},{"id":"6db6b83a.fc51c8","type":"ui_text_input","z":"72bf0b72.0d21c4","name":"","label":"INPUT","tooltip":"","group":"8d13242.91dd9d8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":190,"y":380,"wires":[["93e721c9.5df8b"]]},{"id":"6405e78f.e2cdf8","type":"ui_text","z":"72bf0b72.0d21c4","group":"8d13242.91dd9d8","order":5,"width":0,"height":0,"name":"","label":"VOICE INTPUT","format":"{{msg.payload}}","layout":"row-center","x":500,"y":240,"wires":[]},{"id":"8586a35c.b5433","type":"ui_text","z":"72bf0b72.0d21c4","group":"8d13242.91dd9d8","order":1,"width":0,"height":0,"name":"","label":"RESPONSE","format":"{{msg.payload}}","layout":"row-center","x":840,"y":260,"wires":[]},{"id":"8d13242.91dd9d8","type":"ui_group","name":"Speech Output","tab":"7ba500a4.f63e2","order":1,"disp":true,"width":15,"collapse":false},{"id":"7ba500a4.f63e2","type":"ui_tab","name":"Audio Processing","icon":"dashboard","disabled":false,"hidden":false}]